<div class="container">

  <div class='fidelite text-center'>
    <h1>Fidelité</h1>
  </div>
  <div class="row justify-content-end">
    <p class="allopoint shadow-sm bg-white rounded border ">Allopoints : {{dataService.fideliteArray[0].valeur}} <span><i class="fab fa-gg-circle ml-1 fa-1x"></i></span></p>
  </div>
  <div class="row mb-5 mt-3">
    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>10 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/tshirt.jpg" alt="Card image cap">
          
          <a href="#!">
            
            <div class="mask rgba-white-slight"></div>
          </a>
          
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">
          
          


          <!-- Title -->
          <h4 class="card-title"><strong>T-shirt Effesceau</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 10 Allopoints pour gagner ce magnifique t-shirt Effesceau, donné en main propre par M. Petit.</p>

        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>20 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/panier.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Panier garni</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 20 Allopoints pour gagner ce magnifique panier garni du marché, donné en main propre par M. Petit. </p>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>30 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/vin.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Lot de bouteilles de vin</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 30 Allopoints pour gagner ce lot de bouteilles de vin de chez "Vine & Beer", donné en main propre par M. Petit. </p>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>40 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/transport.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Abonnement de transport</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 40 Allopoints pour gagner cet abonnement mensuel TCE donné en main propre par M. Petit.</p>

        </div>
      </div>
    </div>


    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>50 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/cinema.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Places de cinéma/musée/théatre</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 50 Allopoints pour gagner ces places pour deux personnes, donné en main propre par M. Petit. </p>

        </div>
      </div>
    </div>


    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>60 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/jeuvideo.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Jeu Vidéo</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 60 Allopoints pour gagner ce superbe jeu vidéo de chez "Gamesceau", donné en main propre par M. Petit.</p>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-4">

      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>70 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/restaurant.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Repas restaurant</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 70 Allopoints pour gagner un repas chez "Le Crocqin" pour deux personnes, donné en main propre par M. Petit.</p>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>80 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/electromenage.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Appareil électroménagé</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 80 Allopoints pour gagner cet appareil électroménagé de chez "Electro-M" donné en main propre par M. Petit. </p>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>90 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/soin.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Soins esthétiques</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 90 Allopoints pour gagner ce soin de chez "SPA Prestige" pour deux personnes, donné en main propre par M. Petit.</p>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>100 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/zoo.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Places parc d'attractions/zoo/expositions</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 100 Allopoints pour gagner ces places pour deux personnes, donné en main propre par M. Petit.</p>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>110 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/weekend.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Week end</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 110 Allopoints pour gagner ce week end pour deux personnes, donné en main propre par M. Petit.</p>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card card-cascade wider">
          <div class="alloPoints">
              <h4>120 AlloPoints</h4><i class="fab fa-gg-circle fa-2x mr-2"></i>
              </div>

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="./assets/pictures/voyage.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

          <!-- Title -->
          <h4 class="card-title"><strong>Voyage</strong></h4>
          <!-- Text -->
          <p class="card-text">Obtenez 120 Allopoints pour gagner ce voyage pour deux personnes, donné en main propre par M. Petit.</p>

        </div>
      </div>

    </div>
  </div>
</div>


