<!-- <h3>Se connecter (j'ai déjà un compte)</h3>
<div>
  <form #login="ngForm" (ngSubmit)="loginUser()" *ngIf="!(authService.user$ | async)">
    <input type="text" name="email" placeholder="email" [(ngModel)]="existingUser.email">
    <input type="password" name="password" [(ngModel)]="existingUser.password">
    <button type="submit">se connecter</button>
  </form>
</div>
<div *ngIf="authService.user$ | async">
  <span>connecté en tant que {{ (authService.user$ | async)?.email }}</span>
  <button type="button" (click)="logoutUser()">se déconnecter</button>
</div>
<h3>Créer un compte</h3>
<div>
  <form #f="ngForm" (ngSubmit)="registerUser()">
    <input type="text" matInput name="email" placeholder="email" [(ngModel)]="newUser.email">
    <input type="password" matInput name="password" [(ngModel)]="newUser.password">
    <button type="submit">créer un compte</button>
  </form>
</div>
 -->



<!-- SE CONNECTER AVEC UN COMPTE DEJA EXISTANT -->

<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Se connecter</button>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form #login="ngForm" (ngSubmit)="loginUser()" *ngIf="!(authService.user$ | async)">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Se connecter</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
              mdbInput [(ngModel)]="existingUser.email">
            <label data-error="wrong" data-success="right" for="defaultForm-email">Emaill</label>
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword"
              class="form-control validate" mdbInput [(ngModel)]="existingUser.password">
            <label data-error="wrong" data-success="right" for="defaultForm-pass">Mot de passe</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Se connecter</button>
        </div>
      </div>
      </form>
    </div>
</div>
<div *ngIf="authService.user$ | async">
  <span>connecté en tant que {{ (authService.user$ | async)?.email }}</span>
  <button  mdbBtn color="default" class="modal-footer d-flex justify-content-center" (click)="logoutUser()">se déconnecter</button>
</div>


<!-- CREER SON COMPTE -->


<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frames.show()" mdbWavesEffect>Créer un compte</button>
<div mdbModal #frames="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <form #f="ngForm" (ngSubmit)="registerUser()">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Créer un compte</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frames.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control validate" [formControl]="signupFormModalName"
              mdbInput>
            <label data-error="wrong" data-success="right" for="orangeForm-name">Nom</label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="orangeForm-email" class="form-control validate" [formControl]="signupFormModalEmail"
              mdbInput [(ngModel)]="newUser.email">
            <label data-error="wrong" data-success="right" for="orangeForm-email">Email</label>
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="password" id="orangeForm-pass" class="form-control validate"
              [formControl]="signupFormModalPassword" mdbInput [(ngModel)]="newUser.password">
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Mot de passe</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect type="submit">créer un compte</button>
        </div>
      </div>
    </form>
  </div>
</div>