<div class="card-deck">
  <mdb-card>
    <mdb-card-body class="text-center">
      <mdb-card-title>
        <h5>Plomberie</h5>
      </mdb-card-title>
      <mdb-card-text>
        Bonjour, je propose mes services pour tout vos petits travaux de plomberie.
        Je me trouve à l'intersection de la rue Mehdi Hettak et de la rue Omar El Bouslamti.
        Au plaisir vous rencontrer autour d'une tuyauterie.
      </mdb-card-text>
      <mdb-card-text><small class="text-muted">Last updated 3 mins ago</small></mdb-card-text>
    </mdb-card-body>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center">Michel</li>
      <li class="list-group-item text-center">Disponibilités</li>
      <div class="weekDays-selector text-center">
        <input type="checkbox" id="weekday-mon" class="weekday" />
        <label for="weekday-mon">L</label>
        <input type="checkbox" [checked]="true" id="weekday-tue" class="weekday" />
        <label for="weekday-tue">M</label>
        <input type="checkbox" id="weekday-wed" class="weekday" />
        <label for="weekday-wed">M</label>
        <input type="checkbox" id="weekday-thu" class="weekday" />
        <label for="weekday-thu">J</label>
        <input type="checkbox" id="weekday-fri" class="weekday" />
        <label for="weekday-fri">V</label>
        <input type="checkbox" [checked]="true" id="weekday-sat" class="weekday" />
        <label for="weekday-sat">S</label>
        <input type="checkbox" [checked]="true" id="weekday-sun" class="weekday" />
        <label for="weekday-sun">D</label>
      </div>
    </ul>
    <div class="text-center">
      <button type="button" mdbBtn color="info" mdbWavesEffect>Contacter</button>
    </div>
  </mdb-card>