<div class="text-center">
  <button class="btn-lg my-5" (click)="showFormOffers()" type="button" mdbBtn color="default" rounded="true"
    mdbWavesEffect>Proposer un service !
  </button>
</div>

<!-- formulaire de création d'une offre -->
<div class="formulaire justify-content-center">
  <form *ngIf="showFormOffer === true" [formGroup]="offerForm" (ngSubmit)="createOffer()"
    class="text-center border border-light p-5">

    <p class="h4 mb-4">Créer votre offre</p>

    <input type="text" id="name" class="form-control mb-4" placeholder="Name" formControlName="name">
    <input type="text" id="service" class="form-control mb-4" placeholder="Service à offrir"
      formControlName="serviceName">
    <input type="text" class="form-control mb-4" placeholder="Cochez vos disponibilités" disabled>
    <div mdbInput formGroupName="days" class="my-4">
      <mdb-checkbox [inline]="true" [default]="true" formControlName="lundi">Lundi</mdb-checkbox>
      <mdb-checkbox [inline]="true" [default]="true" formControlName="mardi">Mardi</mdb-checkbox>
      <mdb-checkbox [inline]="true" [default]="true" formControlName="mercredi">Mercredi</mdb-checkbox>
      <mdb-checkbox [inline]="true" [default]="true" formControlName="jeudi">Jeudi</mdb-checkbox>
      <mdb-checkbox [inline]="true" [default]="true" formControlName="vendredi">Vendredi</mdb-checkbox>
      <mdb-checkbox [inline]="true" [default]="true" formControlName="samedi">Samedi</mdb-checkbox>
      <mdb-checkbox [inline]="true" [default]="true" formControlName="dimanche">Dimanche</mdb-checkbox>
    </div>
    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
        placeholder="Description de votre offre" formControlName="description"></textarea>
    </div>

    <div id="create-button">
      <button class="btn btn-info btn-block" type="submit">Créer</button>
    </div>
  </form>
</div>

<!-- liste des offres -->

<div class="row justify-content-around  ">
  <div *ngFor="let offer of offersArray" class="card-deck mx-1">
    <mdb-card class="my-4">
      <mdb-card-body class="text-center">
        <mdb-card-title>
            <img src={{offer.photo}} class="rounded my-3" alt="...">
          <h5>{{offer.serviceName}}</h5>
          
        </mdb-card-title>
        <mdb-card-text>
          {{offer.description}}
        </mdb-card-text>
        <mdb-card-text><small class="text-muted">Last updated 3 mins ago</small></mdb-card-text>
      </mdb-card-body>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">{{offer.name}} <span
            class="badge badge-pill badge-warning ml-2">Gold</span>
            </li>
        <li class="list-group-item text-center">Disponibilités</li>
        <div class="weekDays-selector text-center">
          <input type="checkbox" [checked]="offer.days.lundi" id="weekday-mon" class="weekday" />
          <label for="weekday-mon">L</label>
          <input type="checkbox" [checked]="offer.days.mardi" id="weekday-tue" class="weekday" />
          <label for="weekday-tue">M</label>
          <input type="checkbox" [checked]="offer.days.mercredi" id="weekday-wed" class="weekday" />
          <label for="weekday-wed">M</label>
          <input type="checkbox" [checked]="offer.days.jeudi" id="weekday-thu" class="weekday" />
          <label for="weekday-thu">J</label>
          <input type="checkbox" [checked]="offer.days.vendredi" id="weekday-fri" class="weekday" />
          <label for="weekday-fri">V</label>
          <input type="checkbox" [checked]="offer.days.samedi" id="weekday-sat" class="weekday" />
          <label for="weekday-sat">S</label>
          <input type="checkbox" [checked]="offer.days.dimanche" id="weekday-sun" class="weekday" />
          <label for="weekday-sun">D</label>
        </div>
      </ul>
      <div class="text-center my-2">
        <button class="waves-light" mdbBtn color="info" mdbWavesEffect>Contacter</button>
      </div>
    </mdb-card>
  </div>
</div>

<!-- confirmation du contact -->